<header class="main-header">
	<nav class="main-nav outer-bound">
		<a class="main-nav__brand" href="#top"><img class="logo" src="/dist/img/logo.resp.svg" title="hautliebe ulm" alt="logo hautliebe ulm" /></a>
		<ul id="js-sticky-nav" class="main-nav__menu">
			<li class="main-nav__item"><a class="main-nav__link" href="#treatments">Behandlungsangebot</a></li>
			<li class="main-nav__item"><a class="main-nav__link" href="#techniques">Verfahren</a></li>
			<li class="main-nav__item"><a class="main-nav__link" href="#about">Über uns</a></li>
			<li class="main-nav__item"><a class="main-nav__link" href="#pricing">Preise & Angebote</a></li>
			<li class="main-nav__item"><a class="main-nav__link" href="#appointments">Termine & Kontakt</a></li>
			<li class="main-nav__item"><a class="main-nav__link" href="#jobs">Jobs</a></li>
		</ul>
		<button class="main-nav__trigger" onclick="document.body.classList.toggle ('menu-is-open')">
			<svg class="main-nav__icon main-nav__icon--cross" width="100" height="100" viewBox="0 0 100 100">
				<path d="M 72.846408,72.84543 27.15391,27.15457 m -3.18e-4,45.69086 45.692499,-45.69086" />
			</svg>
			<svg class="main-nav__icon main-nav__icon--menu" width="100" height="100" viewBox="0 0 100 100">
				<path d="M 5.8616663,30.790515 H 94.138334 M 5.8616663,49.999698 H 94.138334 M 5.8616663,69.209485 H 94.138334" />
			</svg>

		</button>
	</nav>
</header>
