/**
 * COLORS
 */
$cmt-green: #82B926;
$cmt-light-green: #EFF9DF;

$cmt-hovered: #406FC8;
$cmt-selected: #FFCB8C;

// backgrounds
$cmt-background-light: #F0F0F0;
$cmt-background-success: #558B2F;
$cmt-background-error: #C62828;
$cmt-background-help: #FFF9C4;
$cmt-background-info: #C6E3FF;
$cmt-background-warning: #F57C00;


// text
$cmt-text-service: #6A6A6A;
$cmt-text: #333333;

$cmt-text-info: #406FC8; //#478BCF;