/**
 * src/css/components/_about.scss
 *
 * @author Johannes Braun <me@hannenz.de>
 * @package hautliebe
 */

#about {
	$y: 210px;
	// background-image: linear-gradient(to bottom, #{$secondary-color} #{$y}, #fff #{$y}, #fff 100%);
	// @include for-size (tablet-portrait-up) {
	// 	background-image: none;
	// }
	padding-top: 10 * $vertical-unit;

	.title--default {
		margin-bottom: 4 * $vertical-unit;
		text-align: center;
	}

	@include for-size(tablet-landscape-up) {
		.title--default {
			margin-left: 16rem + 2rem; // Align to subtitles, image size + gutter
			margin-bottom: 3 * $vertical-unit;
			text-align: left;
		}
	}
}

.about {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;

	.title {
		@include type-setting (3, 1);
		color: $text-color;
	}


	&__timeline {
		order: 2;
		margin-top: 2 * $vertical-unit;
		@include for-size (tablet-landscape-up) {
			margin-top: 0;
		}
	}

	&__text {
		order: 1;
		margin-top: 2 * $vertical-unit;
	}

	&__image {
		background: magenta;
		clip-path: circle();
		// overflow: hidden;
		width: 66vw;
		max-width: 80vw;
		max-width: 24rem;
		aspect-ratio: 1/1;
		// border-radius: 50%;
	}

	img {
		// width: 66vw;
		// max-width: 80vw;
		height: auto;
		display: block;
		margin: 0 auto;
		transform-origin: top center;
		transform: scale(1.75);
	}

	@include for-size (tablet-landscape-up) {

		justify-content: flex-start;

		&__image {

			flex: 0 0 16rem;
			width: 16rem;
			align-self: flex-start;

			img {
				width: 100%;
				height: auto;
				display: block;
				// border: 4px solid #fff;
				// border-radius: 50%;
				// transform: none;
			}
		}

		&__text {
			flex: 6;
			margin: 0 2 * $gutter;
			order: 1;
		}

		&__timeline {
			flex: 0 1 320px;
			order: 2;
			margin-bottom: 0;
		}
	}

}
.about + .about {
	margin-top: 9 * $vertical-unit;
}

/* Fix for Backend / Layoutmode */
.cmt-layout .about__timeline {
	width: 100%;
	display: block;
}

