.about {
	display: flex;
	align-items: stretch;

	&__image {
		flex: 3;

		background-color: $light-grey;
		border: 4px solid #fff;
		width: 12rem;
		height: 12rem;
		border-radius: 50%;
		// background-color: rgba(lime, 0.2);
	}

	&__text {
		flex: 6;
		margin: 0 $gutter;
		// background-color: rgba(lime, 0.2);
	}

	&__timeline {
		flex: 0 1;
		// background-color: rgba(lime, 0.2);
	}
}
