/**
 * src/css/components/_about.scss
 *
 * @author Johannes Braun <me@hannenz.de>
 * @package hautliebe
 */

#about {
    $y: 210px;
    background-image: linear-gradient(to bottom, #{$primary-color} #{$y}, #fff #{$y}, #fff 100%);
    @include for-size (tablet-portrait-up) {
      background-image: none;
    }

	padding-top: 8 * $vertical-unit;
}

.about {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: center;


	&__timeline {
		margin-bottom: 2 * $vertical-unit;
		order: 1;
	}

	&__text {
		order: 2;
	}

	img {
		width: 66vw;
		height: auto;
		display: block;
		border: 4px solid #fff;
		border-radius: 50%;
		margin: 0 auto;
		// transform: translateY(-70%);
	}

	@include for-size (tablet-portrait-up) {

		justify-content: flex-start;

		&__image {

			flex: 3;
			align-self: flex-start;

			img {
				width: 100%;
				height: auto;
				display: block;
				border: 4px solid #fff;
				border-radius: 50%;
				transform: none;
			}
		}

		&__text {
			flex: 6;
			margin: 0 2 * $gutter;
			order: 1;
		}

		&__timeline {
			flex: 0 1;
			order: 2;
			margin-bottom: 0;
		}
	}
}
