/**
 * src/css/components/_bottom-aligned-columns.scss
 *
 * @author Johannes Braun
 * @package hautliebe
 */

#techniques {
	background-image: linear-gradient(to bottom, #fff 0, #fff 50%, $light-grey 50%, $light-grey 100%);
}

.bottom-aligned-columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-end;

	.column {

		@include for-size (tablet-landscape-up) {
			width: calc(50% - #{$gutter});

			.title {
				position: absolute;
				top: 0;
			}
		}

		.headline {
			margin-bottom: 3rem;
		}

		figure {
			text-align: center;
			margin-top: 3rem;
		}
	}
}

