.main-header {
	background-color: $secondary-color;
	z-index: 401; // keep above map
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: $header-height;
	display: flex;
	z-index: 2000; // Override leadlet map controls
	transition: 200ms ease-in;
	box-shadow: 0 3px 2px rgba(30, 30, 30, 0.25);
}

.main-nav__brand {
	display: block;
	/* position: absolute; */
	/* top: $vertical-unit; */
	/* left: 50%; */
	/* transform: translate(-50%, 0); */
}

body.page-has-scrolled {
	.main-nav__brand {
		position: static;
		transform: none;
	}
}

@include for-size (desktop-up) {
	.main-nav__brand {
		position: static;
		transform: none;
	}
}

.logo {
	height: 0.4 * $header-height;
	width: 0.4 * $header-height * 8;
	transition: 200ms ease-in;
	display: block;
}


.main-header {
	height: 2.785 * $header-height;
}

.logo {
	margin-bottom: 0;
	width: 2.785 * 0.83 * $header-height;
	height: 2.785 * 0.83 * $header-height;
	position: relative;
}

.page-has-scrolled .main-header {

	height: $header-height;

	.logo {
		width: 2.785 * 1.125 * $header-height;
		height: 2.785 * 1.125 * $header-height;
		height: 0.7 * $header-height;
	}
}
