.main-header {
	background-color: $primary-color;
	z-index: 401; // keep above map
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height;
	display: flex;
    z-index: 2000; // Override leadlet map controls
}

.logo {
	// max-width: 10rem;
	max-width: 200px;
	// margin-bottom: $vertical-unit;
}

@include for-size (tablet-portrait-up) {

	.logo {
		margin-bottom: 0;
	}
}
