.main-nav {

	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: $primary-color;


	&__menu {
		list-style-type: none;
		background-color: $primary-color;
		// margin-left: -$gutter;
		// margin-right: -$gutter;
        // @include bound($outer-bound-width);

		transform: translate(0, -100%);
		transition: 250ms ease-out;
		position: absolute;
		top: $header-height;
		left: 0;
		right: 0;
		z-index: -1;
		padding-left: 2 * $gutter;
		padding-right: 2 * $gutter;
		padding-bottom: $vertical-unit;
	}


	&__item.active > .main-nav__link {
		border-color: #fff;
	}

	&__link {
		@include versal ();
		display: inline-block;
		letter-spacing: 0.05em;
		text-decoration: none;
		color: #fff;
		padding: 2px 0;
		font-weight: bold;
		transition: 100ms;
        border-bottom: 2px solid transparent;

		&:hover {
			text-decoration: none;
			// color: shade($primary-color, 15%);
		}

		&:focus {
			outline: none;
		}
	}

	&__trigger {
		border: 0;
		background-color: transparent;
		cursor: pointer;
		border: none;

		stroke: #fff;
		stroke-width: 8;
		stroke-linecap: round;

		&:focus {
			outline: none;
			border: none;
		}

	}

	&__icon {
		width: 2.5rem;
		height: 2.5rem;
	}

	&__icon--cross {
		display: none;
	}

	@include for-size (desktop-up) {

		.main-nav__menu {
			transform: none;
			position: static;
			display: flex;
			padding: 0;
			margin-left: 0 0 0 auto;
			z-index: 1;
		}

		.main-nav__item {
			margin-left: $gutter;
		}

		.main-nav__link {
			padding: 5px 0;
		}

		.main-nav__trigger {
			display: none;
		}
	}
}

.menu-is-open .main-nav {
	.main-nav__menu {
		transform: translate(0, 0);
	}
	.main-nav__icon--cross {
		display: block;
	}
	.main-nav__icon--menu {
		display: none;
	}
}
