.main-nav {

	&__brand {
		display: block;
		img {
			display: block;
		}
	}

	&__menu {
		list-style-type: none;
		background-color: $primary-color;
		margin-left: -$gutter;
		margin-right: -$gutter;
		padding: 0 $gutter $vertical-unit $gutter;
	}

	&__item.active > .main-nav__link {
		border-bottom: 3px solid #fff;
	}

	&__link {
		@include versal ();
		display: inline-block;
		letter-spacing: 0.05em;
		text-decoration: none;
		color: #fff;
		padding: 6px 0;
		font-weight: bold;
		transition: 100ms;

		&:hover {
			text-decoration: none;
			color: shade($primary-color, 15%);
		}

		&:focus {
			outline: none;
		}
	}

	@include for-size (tablet-portrait-up) {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.main-nav__item {
			margin-left: $gutter;
		}
		.main-nav__menu {
			display: flex;
			padding: 0;
			margin-left: 0 0 0 auto;
		}
	}
}
