/**
 * src/css/components/_news-teaser.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package hautliebe
 */
.news-teaser {

	padding: $vertical-unit 0;
	width: 100%;
	overflow: hidden;

	&__inner {
		@include bound ($inner-bound-width);
		padding: 0;
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		align-items: center;
	}

	&__image {
		width: 75%;
		max-width: 180px;
		flex: 1 0 auto;
		margin-bottom: 3 * $vertical-unit;
	}

	&__title {
		margin-bottom: -0.4 * $vertical-unit;
	}

	&__body {
		max-width: 48em;
		margin-bottom: 3 * $vertical-unit;
	}

	.subheadline {
		color: $primary-color;
		@include type-setting(2);
		margin: $vertical-unit 0;
	}
}

@include for-size (tablet-portrait-up) {
	.news-teaser {
		padding: $vertical-unit $gutter;

		&__inner {
			flex-flow: row nowrap;
		}

		&__image {
			width: 25%;
			margin-bottom: 0;
			margin-right: 3 * $gutter;
		}
	}
}

