/**
 * src/css/components/_offers.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package hautliebe
 */
.offers {
	list-style: none;
	margin-top: $vertical-unit;
}

.offer {
	margin-bottom: $vertical-unit;

	&__title {
		@include type-setting(0);
	}
}
