/**
 * src/css/components/_tabs.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package hautliebe
 */

.tabs__triggers {
	padding: $vertical-unit 0;
}

.tabs__radio {
	display: none;
}

.tab {
	opacity: 0;
	transform: translate(0, 6 * $vertical-unit);
	transition: opacity 150ms, transform 500ms ease-out;
	position: absolute;
	top: 6 * $vertical-unit;
	left: 0;
	@include for-size (desktop-up) {
		top: 0;
	}
}

.tabs__label {
	cursor: pointer;
	padding: 8px 0;
	margin-right: $gutter;
}

.tabs__radio[data-for-tab-id="tab-1"]:checked ~ .tab#tab-1,
.tabs__radio[data-for-tab-id="tab-2"]:checked ~ .tab#tab-2,
.tabs__radio[data-for-tab-id="tab-3"]:checked ~ .tab#tab-3 {
	opacity: 1;
	transform: translate(0, 3 * $vertical-unit);
}

.tabs__radio:checked + label {
	border-top: 2px solid $text-color;
}

.more {
	&__trigger {
		display: none;
	}

	&__label {
		display: inline-block;
		margin: $vertical-unit 0 0 0;
		cursor: pointer;
	}

	&__body {
		// display: none;
		opacity: 0;
		// transition: 200ms;
		transform: scaleY(0);
		max-height: 0;
		overflow: hidden;
	}

	&__trigger:checked {
		~ .more__body {
			opacity: 1;
			transform: scaleY(1);
			max-height: 99999em;
		}

		~ .more__label {
			text-transform: uppercase;
			font-weight: bold;
		}
	}
}
