/**
 * src/css/components/_tabs.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package hautliebe
 */

.tabs__triggers {
	padding: $vertical-unit 0;
}

.tabs__radio {
	display: none;
}

.tab {
    // outline: 1px dashed pink;
	opacity: 0;
	transform: translate(0, 4 * $vertical-unit);
	transition: opacity 350ms, transform 350ms ease-in;
	position: absolute;
	top: 8 * $vertical-unit;
	left: 0;
	@include for-size (desktop-up) {
		top: 12 * $vertical-unit;
	}
}

.tabs__label {
	cursor: pointer;
	padding: 8px 0;
	margin-right: $gutter;
    position: relative;

    svg {
        width: 4rem;
        height: 4rem;
        fill: none;
        stroke-width: 8;
        stroke: #fff;
        stroke-linejoin: round;
        stroke-linecap: round;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0.3rem;
        width: 3.4rem;
        height: 6px;
        border-radius: 5px;
        transform: scaleX(0);
        transition: transform 150ms ease-in;
        background-color: #fff;
    }
}

.tabs__radio[data-for-tab-id="tab-1"]:checked ~ .tab#tab-1,
.tabs__radio[data-for-tab-id="tab-2"]:checked ~ .tab#tab-2,
.tabs__radio[data-for-tab-id="tab-3"]:checked ~ .tab#tab-3,
.tabs__radio[data-for-tab-id="tab-4"]:checked ~ .tab#tab-4,
.tabs__radio[data-for-tab-id="tab-5"]:checked ~ .tab#tab-5 {
	opacity: 1;
	transform: translate(0, 3 * $vertical-unit);
}

.tabs__radio:checked + label {
    &::after  {
        transform: scaleX(1);
    }
}

.more {
	&__trigger {
		display: none;
	}

	&__label {
		display: inline-block;
		margin: $vertical-unit 0 0 0;
		cursor: pointer;
		position: relative;
		padding-left: 0.75em;

		&::before {
			content: '+';
			position: absolute;
			left: 0;
		}
	}

	&__body {
		// display: none;
		opacity: 0;
		// transition: 200ms;
		transform: scaleY(0);
		max-height: 0;
		overflow: hidden;
		padding-left: 0.75em;
	}

	&__trigger:checked {
		~ .more__body {
			opacity: 1;
			transform: scaleY(1);
			max-height: 99999em;
		}

		~ .more__label {
			text-transform: uppercase;
			font-weight: bold;
		}
	}
}

// .tabs__triggers {
// }

// .tab {
//     pointer-events: none;
// }
