{IF({LAYOUTMODE})}
	{LAYOUT OPTION}
	<p class="cmt-label">Größe</p>
	<select>
		<option value="default">Groß</option>
		<option value="small">Klein</option>
	</select>
	<div>{PARAM:1}</div>
	{ENDLAYOUT OPTION}
{ENDIF}
<h2 class="title title--{PARAM:1:out}">{HEAD:1}</h2>
