/**
 * src/css/partials/_flickity.scss
 *
 * Overrides for flickity slider
 *
 * @author Johannes Braun <me@hannenz.de>
 * @package hautliebe
 */
.flickity-page-dots {

	bottom: 0;

	.dot {
		/* background-color: $light-grey; */
		background-color: $primary-color;
		opacity: 1;
		margin-top: 3px;
		margin-bottom: 3px;

		&.is-selected {
			background-color: $primary-color;
			background-color: #fff;
			border: 5px solid $primary-color;
			width: 16px;
			height: 16px;
			margin-top: 0px;
			margin-bottom: 0px;
		}
	}
}

.flickity-prev-next-button {

	/* display: none; */
	background-color: transparent !important;
	bottom: 0;
	top: auto;
	transform: translate(0, 25%);

	&:hover {
		background-color: transparent !important;
	}

	svg {
		fill: $primary-color;
	}

	&.previous {
		left: -2 * $gutter;
	}
	&.next {
		right: -2 * $gutter;
	}
}

@include for-size (tablet-landscape-up) {
	.flickity-prev-next-button {
		bottom: auto;
		top: 50%;
		transform: translate(0, -50%);

		&.previous {
			left: -12px;
		}

		&.next {
			right: -12px;
		}
	}
}
