/**
 * src/css/partials/_layout.scss
 *
 * @author Johannes Braun <me@hannenz.de>
 * @package hautliebe
 */

@mixin bound ($w) {
	max-width: calc(#{$w} - 4 * #{$gutter});
	width: 100%;
	margin: 0 auto;
	padding-left: 2 * $gutter;
	padding-right: 2 * $gutter;
	@media screen and (min-width: #{$w}) {
		padding-left: 0;
		padding-right: 0;
	}
	@if $debug == 1 {
		@if $w == $outer-bound-width {
			outline: 1px dashed yellow;
		}
		@else {
			outline: 1px dashed lime;
		}
	}
}


.inner-bound {
	@include bound ($inner-bound-width);
	position: relative;
}

.outer-bound {
	@include bound ($outer-bound-width);
	position: relative;
}

.container-break {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
	max-width: 100%;
	padding-top: $header-height * 2.785;
}

.main-content {
	flex: 1;
}

.section {
	padding-top: 5 * $vertical-unit;
	padding-bottom: 5 * $vertical-unit;

	&--7 {
		padding-top: 0;
	}

	#map {
		margin-bottom: 5 * $vertical-unit;
	}
}

.section--dark {

	background-color: $secondary-color;

	.title {
		color: #fff;
	}
}

.section--hidden {
	transform: 350ms ease-in;
	/* max-height: 5000px; */
	overflow: hidden;

	&.section--is-hidden {
		max-height: 0;
		margin: 0;
		padding: 0;
	}
}

@include for-size (desktop-up) {
	.section--rotated-title {

		.title {
			writing-mode: vertical-rl;
			position: absolute;
			top: 0;
			left: calc(((#{$outer-bound-width} - (4 * #{$gutter})) - (#{$inner-bound-width} - (4 * #{$gutter}))) * -0.5);
			transform: rotate(180deg);
		}
	}
}

#pricing .title {
	max-height: 6em;
}
