/**
 * src/css/partials/_typography.scss
 *
 * Typography related styles
 */

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;

@include font-face ('Bariol', '../fonts/bariol_thin-webfont', $font-weight-thin, normal, $file-formats: woff woff2 ttf eot);
@include font-face ('Bariol', '../fonts/bariol_thin_italic-webfont', $font-weight-thin, italic, $file-formats: woff woff2 ttf eot);
@include font-face ('Bariol', '../fonts/bariol_light-webfont', $font-weight-light, normal, $file-formats: woff woff2 ttf eot);
@include font-face ('Bariol', '../fonts/bariol_light_italic-webfont', $font-weight-light, italic, $file-formats: woff woff2 ttf eot);
@include font-face ('Bariol', '../fonts/bariol_regular-webfont', $font-weight-regular, normal, $file-formats: woff woff2 ttf eot);
@include font-face ('Bariol', '../fonts/bariol_regular_italic-webfont', $font-weight-regular, italic, $file-formats: woff woff2 ttf eot);
@include font-face ('Bariol', '../fonts/bariol_bold-webfont', $font-weight-bold, normal, $file-formats: woff woff2 ttf eot);
@include font-face ('Bariol', '../fonts/bariol_bold_italic-webfont', $font-weight-bold, italic, $file-formats: woff woff2 ttf eot);

@mixin versal {
	text-transform: uppercase;
	letter-spacing: 0.1125em;
}

html {
	// @include fluid-type(font-size, $bp1, $bp3, 12px, 16px);

	font-size: 14px;
	@include for-size(tablet-landscape-up) {
		font-size: 16px;
	}
}

body {
	// Sets up font-size and line-height
	// according to vertical rhythm. 
	// @see mixins in mixins/_vertical_rhythm.scss
	@include type-setting(0);
	color: $text-color;
	font-family: Bariol, sans-serif;
	letter-spacing: 0.125em;
}

p,
.body-text {
	@include type-setting (0, 1);
	// hyphens: auto;
}

a {
	color: $primary-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.section--dark a {
	color: #fff;
}

.leaflet-container a {
	color: $text-color;
}

.title {
	@include type-setting (4, 1);
	@include versal ();
	line-height: 1;
	font-weight: bold;
	max-width: 100%;
	overflow: hidden;

	&--small {
		@include type-setting(3, 1);
	}
}

.headline {
	@include type-setting (2);
	@include versal ();
	font-weight: bold;
	line-height: 1;
	margin-bottom: 2 * $vertical-unit;
	max-width: 100%;
	overflow: hidden;

	&--large {
		@include type-setting (3);
		text-transform: none;
	}
}

.subheadline {
	@include type-setting (1);
	@include versal ();
	font-weight: bold;
}

.kicker {
	@include versal ();
	@include type-setting (0);
	color: #fff;
	margin: 0.5 * $vertical-unit 0;
}

%bullets {
	list-style-type: none;
	margin: $vertical-unit 0;

	li {
		position: relative;
		padding-left: 1em;

		&::before {
			content: '•';
			position: absolute;
			left: 0;
		}
	}
}

.treatment__body ul {
	@extend %bullets;
	margin-top: 0;
}

.big-text {
	@include type-setting(3, 1);
	font-weight: bold;
	color: $primary-color;
}

