// ---------------------------------------
//	Context menu
// ---------------------------------------
.cmt-context-menu {
	position: absolute;
	z-index: 10005;
	white-space: nowrap;
	border: 1px solid #A0A0A0;
	background-color: #F8F8F8;
	padding: 0;
	display: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	
	div {
		display: inline;
	}
	
	&.cmt-visible {
		display: block;
	}
}