/**
 * _settings.scss
 *
 * Settings for hautliebe website
 *
 * @author Johannes Braun
 * @package hautliebe
 */


$debug: 0;

/**********
 * Colors *
 **********/

// $primary-color: rgb(238, 208, 212);
// $primary-color: rgb(250, 191, 205);
$primary-color: rgb(245, 205, 210);
$secondary-color: rgb(211, 199, 240);
$light-grey: rgb(228, 228, 228);
// $text-color: rgb(75, 75, 75);
$text-color: #101010;


/************
 * Measures *
 ************/
$base-font-size: 1rem;
$vertical-unit: $base-font-size * 1.1;

$gutter: 1rem;
$header-height: 4 * $vertical-unit;
$header-height: 70px;

$inner-bound-width: 960px;
$outer-bound-width: 1280px;



/**
 * Perfect Fourth is rather close:
 *
 * Design 			Perfect Fourth
 * 40 / 1 				1
 * 						1.333
 * 70 / 1.75 			1.777
 * 100 / 2.5 			2.369
 * 						3.157
 * 160 / 4 				4.208
 */
$modular-scale-ratio: $perfect-fourth;



/********************
 * Options/Switches *
 ********************/
$debug-base-line-grid: false;
