/**
 * _settings.scss
 */

/**********
 * Colors *
 **********/

$primary-color: rgb(238, 208, 212);
$light-grey: rgb(228, 228, 228);

$text-color: rgb(75, 75, 75);

/************
 * Measures *
 ************/
$base-font-size: 1rem;
$vertical-unit: $base-font-size * 1.1;

$gutter: 1rem;
$header-height: 3 * $vertical-unit;
$inner-bound-width: 50em;

/**
 * Perfect Fourth is rather close:
 *
 * Design 			Perfect Fourth
 * 40 / 1 				1
 * 						1.333
 * 70 / 1.75 			1.777
 * 100 / 2.5 			2.369
 * 						3.157
 * 160 / 4 				4.208
 */
$modular-scale-ratio: $perfect-fourth;


/********************
 * Options/Switches *
 ********************/
$debug-base-line-grid: false;
