/**
 * _settings.scss
 */

/**********
 * Colors *
 **********/

$primary-color: rgb(238, 208, 212);
$light-grey: rgb(228, 228, 228);

$text-color: rgb(75, 75, 75);



/************
 * Measures *
 ************/

$gutter: 1rem;
$header-height: 100px;
$inner-bound-width: 42em;



/********************
 * Options/Switches *
 ********************/
$debug-base-line-grid: false;
