/**
 * main.scss
 */

@import "bourbon";
@import "neat";

@import "settings";

@import "libhalma/libhalma";

@import "partials/common";
@import "partials/typography";
@import "partials/layout";

@import "atoms/map";
@import "components/header";
@import "components/nav";

.test {
	display: flex;
	justify-items: space-between;
	align-items: flex-end;
	margin: 6rem auto;
	max-width: 920px;
}

.column {
	width: 45%;

	// position: relative;
	// &:first-child h3 {
	// 	position: absolute;
	// 	top: 0;
	// }

	h2 {
		margin-bottom: 3rem;
		}
	figure {
		text-align: center;
		margin-top: 3rem;
		}

}
