/**
 * src/css/molecules/_eyectacher.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package hautliebe
 */

.eyecatcher {
	width: 45vw;
	height: 45vw;
	max-width: 200px;
	max-height: 200px;
	margin: 0 * $vertical-unit auto;
	display: block;

	@include for-size (tablet-landscape-up) {
		position: absolute;
		right: -$gutter;
		margin: 0;
	}
}

.eyecatcher--discount {
	@include for-size (tablet-landscape-up) {
		top: -25%;
	}
}

.eyecatcher--freebie {
	top: 0;
	margin-top: 2 * $vertical-unit;
}


.divider-image {
	background: linear-gradient(to bottom, #fff 0, #fff calc(50% - 3rem), #{$secondary-color} calc(50% - 3rem));
	margin-bottom: -6rem;
	&::after {
		content: '';
		display: block;
		height: 6rem;
		background-color: $secondary-color;
	}
}

.divider-image > img {
	display: block;
	margin: 0 auto;
	width: 75%;
	max-width: 24rem;
	border: 4px solid #fff;
	border-radius: 50%;
}
