/**
 * src/css/molecules/_price-table.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package hautliebe
 */
#pricing {
	.headline, p, .offers {
		margin-bottom: 3 * $vertical-unit;
		max-width: 640px;
	}
}

.price-table {
	width: 100%;
	border-collapse: collapse;

	thead {
		tr {
			background-image: none;
		}

		th {
			vertical-align: top;
			text-transform: uppercase;
			font-weight: 600;
			text-align: right;

			padding: 0 0 0 1rem;
			max-width: 5em;

		}
	}

	tr {
		background-image: url('../img/dot.svg');
		background-repeat: repeat-x;
		background-size: 8px 2px;
		background-position: center bottom;
	}

	td {
		padding: $vertical-unit 0 0 0;
		vertical-align: bottom;

		&.price__title {
			text-transform: uppercase;
			font-weight: 600;
		}

		&.price__price--single {
			width: 27%;
			text-align: right;
		}
		&.price__price--bundle {
			width: 27%;
			text-align: right;
			span {
				width: auto;
				display: inline-block;
			}
		}

		.price__gender {
			font-weight: normal;
			text-transform: none;
		}
	}

	td > span {
		background-color: $secondary-color;
		display: inline;
		padding: 0 0.5em 0 0;
	}

	td:not(:first-child) > span {
		padding: 0 0.5em;
	}
}
