$factor: 1.35;
$line: 216px;
#techniques {
	// hannenz 2022-08-30: Hide "Handstücke" for the time being, maybe client
	// wants them to be enabled again some time.
	@if false {
		background-image:
			url('/dist/img/GentleLase.png'),
			url('/dist/img/eTwoSublime.png'),
			url('/dist/img/eTwoSublative.png');
		background-position: 100% 140px, calc(50% - 25vw) 100%, calc(50% + 25vw) 100%;
		background-size: auto 150px, auto 50vw, auto 50vw;
		background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
		padding-bottom: calc(-2 * #{$vertical-unit} + 50vw);

		@include for-size(tablet-portrait-up) {
			background-image:
				url('/dist/img/GentleLase_portrait.png'),
				url('/dist/img/eTwoSublime.png'),
				url('/dist/img/eTwoSublative.png'),
				linear-gradient(to bottom, #fff 0, #fff calc(100% - #{$line}), $secondary-color calc(100% - #{$line}), $secondary-color 100%);
			background-position: calc(50% - 310px) 100%, calc(50% - 25px) 100%, calc(50% + 230px) 100%, 0 0;
			background-size: auto $factor * 300px, auto $factor * 200px, auto $factor * 200px, 100% 100%;
			padding-bottom: calc(6 * #{$vertical-unit} + 200px);
		}

		@include for-size(tablet-landscape-up) {
			background-position: calc(50% - 410px) 100%, calc(50% - 25px) 100%, calc(50% + 330px) 100%, 0 0;
		}
	}
	@else {
		// @include for-size(tablet-portrait-up) {
		// 	background-image: linear-gradient(to bottom, #fff 0, #fff calc(100% - #{$line}), $secondary-color calc(100% - #{$line}), $secondary-color 100%);
		// 	padding-bottom: calc(6 * #{$vertical-unit} + 200px);
		// }
	}
}

/**
 * hannenz 2022-09-04
 * Display techniques in a grid
 * +-------+
 * |   1   |
 * +---+---+
 * | 2 | 3 |
 * +-------+
 */
@include for-size (tablet-portrait-up) {
	.techniques {

		display: grid;
		gap: 0 4 * $gutter;
		grid-template-columns: 1fr 1fr;

		.technique--1 {
			grid-column: 1 / -1;

			.technique__columns {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 0 4 * $gutter;
			}
		}
	}
}

.technique {

	&__icon {
		width: 4.5rem;
		height: 4.5rem;
		margin-bottom: $vertical-unit;
	}

	&__name, p {
		margin-bottom: $vertical-unit;
	}

	&__description {
		margin-bottom: 1 * $vertical-unit;
	}
}


