/**
 * src/css/molecules/_timeline.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package hautliebe
 */
.timeline {

	display: flex;
	align-items: stretch;

	.timeline__ornament {
		position: relative;
		width: 120px;

		svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.timeline__text ul {
		list-style-type: none;
		position: relative;
		padding-top: 2 * $vertical-unit;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		li, &__item {
			margin-top: 2 * $vertical-unit;
		}
	}
}
