/**
 * src/css/molecules/_timeline.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package hautliebe
 */
.timeline {

	display: flex;
	align-items: stretch;
	overflow: hidden;

	.timeline__ornament {
		position: relative;
		// width: 40px;
		$w: 10vw;
		width: $w;
		max-width: 60px;
		flex: 0 0 auto;

		svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.timeline__text ul {
		list-style-type: none;
		position: relative;
		padding-top: 2 * $vertical-unit;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		> * + * {
			margin-top: 2 * $vertical-unit;
		}
	}
}

@include for-size (tablet-portrait-up) {
	.timeline .timeline__text ul li {
		margin-top: 2 * $vertical-unit;;
	}
}
